@font-face {
  font-family: 'PingFangSC-Light';
  src: url("/fonts/PingFang-SC-Light.ttf");
}
@font-face {
  font-family: 'PingFangSC-Bold';
  src: url("/fonts/PingFang-SC-Bold.ttf");
}
@font-face {
  font-family: 'PingFangSC-Light';
  src: url("/fonts/PingFang-SC-Regular.ttf");
}
